dconf 
gtk-3.0
gtk-4.0
KDE
kde.org
kdedefaults
libaccounts-glib
pulse
session
spotify
xsettingsd
dolphinrc 
trashrc
BraveSoftware
akregatorrc
gh/
kateschemarc
kcminputrc
kconf_updaterc
kdeglobals
kglobalshortcutsrc
kmixrc
krunnerrc
kscreenlockerrc
ksmserverrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
Code
Cemu
thunar
eww
gen-img
kactivitymanagerdrc
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
waypaper
