* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(191,147,249,0.25);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
#custom-firefox {
	color: #FF6347;
}
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#language,
#clock,
#tray {
	padding: 4px;
	border: blue;
	
}
